In [1]:
import pandas as pd

In [7]:
data = pd.read_html("https://lol.gamepedia.com/Match_History_Index")

In [27]:
data1 = data[0]["MH"]

In [29]:
data2 = pd.DataFrame(data1)

In [30]:
data2

                                                    MH
0    https://matchhistory.na.leagueoflegends.com/en...
1    https://matchhistory.na.leagueoflegends.com/en...
2    https://matchhistory.na.leagueoflegends.com/en...
3    https://matchhistory.na.leagueoflegends.com/en...
4    https://matchhistory.br.leagueoflegends.com/pt...
..                                                 ...
495  http://matchhistory.na.leagueoflegends.com/en/...
496  http://matchhistory.na.leagueoflegends.com/en/...
497  http://matchhistory.na.leagueoflegends.com/en/...
498        https://lpl.qq.com/es/stats.shtml?bmid=6145
499        https://lpl.qq.com/es/stats.shtml?bmid=6147

[500 rows x 1 columns]

In [31]:
data

[           Start Time (UTC)                      Event  \
 0     2020-05-25 2:00:00 AM            LTL 2020 Season
 1     2020-05-25 2:00:00 AM            LTL 2020 Season
 2    2020-05-25 12:00:00 AM            LTL 2020 Season
 3    2020-05-25 12:00:00 AM            LTL 2020 Season
 4     2020-05-24 6:30:00 PM  Gamers Club Rift Season 2
 ..                      ...                        ...
 495   2020-04-21 8:00:00 AM    CK 2020 Spring Playoffs
 496   2020-04-21 8:00:00 AM    CK 2020 Spring Playoffs
 497   2020-04-21 8:00:00 AM    CK 2020 Spring Playoffs
 498   2020-04-21 7:00:00 AM            LDL 2020 Spring
 499   2020-04-21 7:00:00 AM            LDL 2020 Spring

                                                     MH
 0    https://matchhistory.na.leagueoflegends.com/en...
 1    https://matchhistory.na.leagueoflegends.com/en...
 2    https://matchhistory.na.leagueoflegends.com/en...
 3    https://matchhistory.na.leagueoflegends.com/en...
 4    https://matchhistory.br.leagueoflegends.com/pt...
 ..                                                 ...
 495  http://matchhistory.na.leagueoflegends.com/en/...
 496  http://matchhistory.na.leagueoflegends.com/en/...
 497  http://matchhistory.na.leagueoflegends.com/en/...
 498        https://lpl.qq.com/es/stats.shtml?bmid=6145
 499        https://lpl.qq.com/es/stats.shtml?bmid=6147

 [500 rows x 3 columns]]